$mainFont: "Roboto";
$secondFont: "Raleway";


$first-text-color:#212121;
$second-text-color:#ffffff;
$third-text-color:#757575;

$accent-color:#2196F3;

$first-background-color:#2F303A;
$second-background-color:#F5F4FA;
$third-background-color:#ffffff;

$first-button-color:#2196F3;
$second-button-color:#F5F4FA;

$first-icon-color:#AFB1B8;
$second-icon-color:#ffffff;

$first-decor-color:#F5F4FA;
$second-decor-color:#ECECEC;
$third-decor-color:#ffffff;
$fourth-decor-color:#212121;

$overlay-background-color:rgba(33, 150, 243, 0.9);
